form {
    width: 70%;
    max-width: 400px;
    background-color: #eabb8c;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    border: solid 3px #338b3d;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #1E1E1F;
    margin-bottom: 26px;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 700;
    
  }
  
  textarea {
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
    
  }
  
  textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  textarea:focus {
    outline-color: #338b3d;
  }
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: black;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoForm-button--add {
    background: rgb(129, 181, 91);
    box-shadow: 0px 5px 25px rgba(60, 137, 5, 0.3);
  }
  
  .TodoForm-button--cancel {
    background: transparent;
  }